*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2c2c2c;
}

a{
    text-decoration: none;
    color: #fff;
}

.sml{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sml{
    display: none;
}

.tpbr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btbr div{
    display: flex;
    justify-content: center;
}

.lrg{
    width: 100%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lfbr{
    display: flex;
    flex-direction: column;
}

.rgbr{
    margin: 5px;
    display: flex;
}

select{
    outline: none;
    border: none;
    color: #808080;
    font-size: 14px;
    background: transparent;
    margin-left: 40px;
}

.logo{
    height: 56px;
    width: 56px;
    margin-bottom: 5px;
}

.lgbig{
    height: 96px;
    width: 96px;
    margin-bottom: 5px;
}

img{
    width: 100%;
    height: 100%;
}

.appbar a{
    font-size: 18px;
    margin-right: 5px;
}

.hero{
    margin: 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 80px;
}

.words{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    min-height: calc(.5 * vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.words div{
    display: flex;
    flex-direction: column;
}

.rls{
    padding: 10px;
    margin: 10px;
}

.tlwrd{
    font-size: 24px;
    font-weight: bolder;
    z-index: 2;
    color: #fff;
}

.btn{
    margin-top: 20px;
    background: #0357ff;
    padding: 8px 20px;
    border-radius: 5px;
    z-index: 1;
    width: max-content;
}

.watch{
    background: #cc0000;
}

.ctwrd{
    font-size: 14px;
    z-index: 2;
}

.dtwrd{
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    color: #fff;
}

.info{
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
}

p{
    font-size: 18px;
    z-index: 2;
    color: #fff;
    margin: 5px 0;
}

.thumb{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 20%;
    width: calc(100% * .7);
    height: calc(100% * .8);
    object-fit: cover;
}

.views{
    position: relative;
    min-height: 400px;
    min-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.views div{
    display: none;
}

video{
    height: 250px;
    width: 500px;
    border-radius: 5px;
}

.ftdiv{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.ftdiv a{
    margin-left: 10px;
}

.extrml{
    display: none;
}

.thumbnl{
    height: 400px;
    width: 400px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(.8 * 100vh);
}

.error p{
    color: #cc0000;
    font-size: 18px;
}

.content{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content p{
    margin: 10px 0;
}

.content .ctwrd{
    color: #606060;
}

.ctr{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.err{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.err span{
    color: #cc0000;
    font-size: 14px;
}

.spr20{
    height: 20px;
}

.spr40{
    height: 40px;
}

label{
    color: #fff;
    font-size: 14px;
}

.row{
    display: flex;
    justify-content: center;
}

.ctrdiv{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.ctrdiv span{
    color: #606060;
    margin: 10px 0;
    text-transform: capitalize;
}

.lftdiv span{
    color: #606060;
    margin: 10px 0;
    text-transform: capitalize;
}

.wddiv{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.lftdiv{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.kvpr{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.kv{
    color: #606060;
}

.vv{
    color: #fff;
}

.active{
    color: #808080 !important;
}

.icon{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.icon img{
    width: 100%;
    height: 100%;
}

input{
    background: #ffffff88;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #fff;
}

#loader{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinner {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.spins{
    transform-origin: bottom;
    animation: spinner 800ms ease-in-out infinite;
}

.spin{
    height: 24px;
    width: 24px;
}

button{
    padding: 8px 16px;
    background: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tbtn{
    background: none;
    color: #fff;
    font-size: 17px;
}

.fbtn{
    margin: 0 20px;
}

input:focus{
    border: none;
    outline: none;
}

.srcbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.srcbar div{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.items{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.item{
    position: relative;
    height: 300px;
    max-width: 400px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: #1c1c1c;
    margin: 5px;
}

.item .dtwrd{
    margin-top: 20px;
}

.item img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
}

.advnc{
    height: 40px;
    width: 100%;
    background: #606060;
}

.notice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(.65* 100vh);
}

.notice div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.253);
}

.notice span{
    color: #fff;
    font-size: 14px;
}

.mbl{
    display: none;
}

.lgr{
    display: block;
}

.hd{
    display: none !important;
}

.timeline{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block{
    width: 100%;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.struct{
    position: relative;
    width: 10px;
    height: 240px;
}

.point{
    position: absolute;
    display: flex;
}

.rv{
    flex-direction: row-reverse;
}

.data{
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.show{
    display: flex;
    align-items: center;
}

.day{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.col{
    display: flex;
    flex-direction: column;
    padding-left: 2px;
}

.col span{
    font-size: 10px;
    color: #fff;
}

.line{
    width: 100px;
    height: 5px;
}

.more{
    display: none;
}

.more span{
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

.ct{
    font-size: 10px;
    font-weight: normal;
    color: #808080 !important;
}

.navlnk{
    font-size: 14px;
    margin: 4px;
    padding: 0 8px;
}

.data:hover{
    background: #1c1c1c;
    z-index: 1;
}

.data:hover .more{
    transition: 1000ms;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabs{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tb{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 4px 8px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .lgr{
        display: none;
    }

    .line{
        width: 50px;
    }

    .srcbar{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mbl{
        display: block;
        margin-top: 4px !important;
    }

    .hd{
        display: none !important;
    }

    .item{
        width: 100%;
        margin: 5px 0;
    }

    .items{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    .sml{
        display: flex;
        padding: 5px 10px;
    }

    .sml a{
        margin-right: 15px;
    }

    .lrg{
        display: none;
    }

    .ftdiv {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

    .hero{
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .views{
        height: min-content;
        padding: 20px 10px;
    }

    .views div{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .words{
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .words div{
        padding: 20px;
    }

    .thumb{
        left: 0;
        width: 100%;
    }

    .tlwrd{
        font-size: 18px;
    }

    .views .info, .rla{
        display: none;
    }

    video{
        height: 250px;
        width: 400px;
    }

    .extrml{
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content{
        padding: 10px 20px;
    }

    .ctrdiv{
        margin: 10px 0;
        align-items: center;
    }

    .wddiv{
        margin: 10px 0;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }

}