.workspc{
    padding: 10px;
}

.dshbrd{
    width: 100%;
    display: flex;
    padding: 40px;
}

.tlbrd{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
    padding: 0 10px;
}

.rlsbrd{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
    padding: 0 10px;
}

.ctgwht{
    color: #fff;
    font-size: 14px;
}

.smld{
    color: #ffffff88 !important;
    font-size: 10px;
}

.formnew{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lstolst{
    display: flex;
    flex-direction: column;
}

.lstview{
    margin: 10px 0;
}

.lstview span{
    color: #fff;
}

.itemtl, .itemrl{
    padding: 10px;
    background: #ffffff88;
    border-left: solid 4px #00f;
    display: flex;
    flex-direction: column;
    margin: 2px;
    cursor: pointer;
}

.rlmodal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background: #000000ce;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rlmodal form{
    z-index: 6;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background: #404040;
    height: 100%;
    cursor: default;
    overflow-y: auto;
    overflow-x: hidden;
}

.msg{
    position: absolute;
    top: 15%;
    right: 40px;
    padding: 0 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff88;
    border-radius: 5px;
    animation-delay: 2s;
    /* animation: fadeout 5s ease-in forwards; */
}

.msg span{
    padding: 10px 20px;
    color: #022b09;
    font-size: 14px;
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }
    50%{opacity: .6;}
    100%{opacity: 0;}
}

.selected{
    padding: 10px;
    background: #ffffff88;
    border-left: solid 4px #00f;
    display: flex;
    flex-direction: column;
    margin: 2px;
    cursor: pointer;
    background: #0357ffff;
}

.fmselect{
    background: #00000088;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 0;
}

.ncat{
    background: #00000088;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 5px 0;
}

.row1{
    display: flex;
    justify-content: space-around;
}

.wspr10{
    width: 10px;
}

.spr10{
    height: 10px;
}

.props{
    min-width: calc(.2 * 100vw);
    max-width: calc(.3 * 100vw);
    padding: 10px;
    background: #0058ff37;
    display: flex;
    flex-direction: column;
}

.hdr{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.hdr div{
    display: flex;
    flex-direction: column;
}

.propsi{
    margin: 10px 0;
}

.propsb{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.propsbc{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.current{
    position: relative;
    height: 350px;
    width: calc(.4 * 100vw);
    background: #ccc;
}

.dts{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dts div{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.stats{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    justify-content: space-between;
    width: 100%;
}

.figs{
    padding: 10px;
    background: #0058ff37;
    display: flex;
    justify-content: space-evenly;
    min-height: 150px;
}

.dy{
    font-size: 28px;
    font-weight: bold;
}

.col1{
    display: flex;
    flex-direction: column;
    padding-left: 2px;
}

.tlwrd1{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.ctword1{
    font-size: 14px;
    color: #404040;
}

.col2{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.row2{
    display: flex;
    align-items: flex-end;
}

.col1 span{
    font-size: 18px;
    color: #fff;
}

.bld{
    font-weight: bold;
    font-weight: 20px;
}

.shrt{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nxt{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0357ffff;
    cursor: pointer;
    width: 50%;
}

.acts{
    background: #0058ff37;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: 100%;
}
.acts button{
    margin: 4px;
}

.btnb{
    padding: 8px 16px;
    background: #0357ffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.btnr{
    padding: 8px 16px;
    background: #cc0000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.peek{
    display: flex;
    flex-direction: column;
}

.pkimg{
    height: 150px;
    width: 150px;
}

button:disabled{
    background: #606060cc;
}

#ldr, #ldr2, #ldr3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ldr1{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ldrcont{
    transform-origin: center;
    animation-delay: 50ms;
    animation: spinner 600ms ease-in-out infinite;
}

.dots{
    margin: 2px;
    height: 4px;
    width: 4px;
    background: #fff;
    border-radius: 50%;
}
