<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denoms Studios | Dashboard </title>
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/workspc.css">
    <script src="/public/main.js"></script>
</head>
<body>
    <div class="appbar">
        <div class="lrg">
            <div class="lfbr">
                <a href="/">
                    <div class="logo">
                        <img src="/public/favicon.svg" alt="logo">
                    </div>
                </a>
            </div>
            <div class="rgbr">
                <select>
                    <option value="1">Eng</option>
                </select>
            </div>
        </div>
        <div class="sml">
            <div class="tpbr">
                <a href="/">
                    <div class="logo">
                        <img src="/public/favicon.svg" alt="logo">
                    </div>
                </a>
                <select>
                    <option value="1">Eng</option>
                </select>
            </div>
        </div>
    </div>

    <div class="tabs" id="tabs">
        <div class="tb active" onclick="switchTab(0)">Dashboard</div>
        <div class="tb" onclick="switchTab(1)">Timeline</div>
        <div class="tb" onclick="switchTab(2)">Releases</div>
        <div class="tb" onclick="switchTab(3)">Statistics</div>
    </div>

    <div class="workspc">
        <div id="dshb" class="dshbrd">
            <a class="current" href="/release?id={{ .Prev.Id }}">
                <img src="{{ .Prev.Thumbnail }}" alt="thumb">
                <div class="dts">
                    <span>Last release</span>
                    <div>
                        <span class="ctwrd">{{ .Prev.Category }}</span>
                        <span class="tlwrd">{{ .Prev.Title }}</span>
                    </div>
                </div>
            </a>
            <div class="stats">
                <div class="figs">
                    <div class="col1">
                        <span class="bld"> {{ .Rcount }}</span>
                        <span>Releases</span>
                    </div>
                    <div class="col1">
                        <span class="bld">00</span>
                        <span>Views</span>
                    </div>
                    <div class="col1">
                        <span class="bld">{{ .Pcount }}</span>
                        <span>Pending releases</span>
                    </div>
                </div>
                <div class="shrt">
                    <div class="nxt" onclick="nextRelease(2, {{ .Next.Id }})">
                        <span>Next Releases</span>
                        <span class="ctwrd">{{ .Next.Category}}</span>
                        <span class="tlwrd">{{ .Next.Title }}</span>
                    </div>
                    <div class="acts">
                        <button class="btnb" onclick="switchTab(1)">Update Timeline</button>
                        <button class="btnb" onclick="switchTab(2)">Publish Release</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="tln" class="tlbrd hd">

            <div class="formnew">

                <div>
                    <button class="btnb" onclick="timelineForm()" id="tlformbt">Add Timeline</button>
                    <div id="tlform" class="hd">
                        <form action="/" method="post">
                            <div class="col">
                                <label for="title">Title </label>
                                <input type="text" name="title" id="title" required>
                            </div>
                            <div class="spr10"></div>
                            <div class="col">
                                <label for="category">Category </label>
                                <select name="category" id="category" class="fmselect">
                                    <option value="0">TBD</option>
                                    <option value="1">Thriller</option>
                                    <option value="2">Comedy</option>
                                </select>
                            </div>
                            <div class="spr10"></div>
                            <div class="col">
                                <label for="date">Date </label>
                                <input type="date" name="date" id="date" required>
                            </div>
                            <div class="spr20"></div>
                            <div class="row1">
                                <button class="btnr" onclick="timelineFormClose()">Cancel</button>
                                <button class="btnb">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="lstview">
                    <span>Current timeline</span>
                    <div class="items">
                        {{ range $k, $v := .Timeline }}
                        <div class="itemtl" onclick="timelineSelect('{{ $v.Id }}')" 
                        data-id="{{ $v.Id }}" 
                        data-title="{{ $v.Title }}" 
                        data-category="{{ $v.Category }}" 
                        data-date="{{ $v.HumanDate }}">
                            <div class="row2">
                                <span class="dy">{{ $v.Day }}</span>
                                <div class="col2">
                                    <span>{{ $v.Month }}</span>
                                    <span>{{ $v.Date.Year }}</span>
                                </div>
                            </div>
                            <span class="tlwrd1">{{ $v.Title }}</span>
                            <span class="ctword1">{{ $v.Category }}</span>
                            <div class="spr20"></div>
                            {{ if ne $v.Ref ""}}
                            <a href="/release?id={{ $v.Ref }}" class="navlnk">Release Notes</a>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>

            </div>

            <div class="props hd" id="props">
                <div class="hdr">
                    <div>
                        <span class="tlwrd">Title</span>
                        <span class="ctgwht">Category</span>
                    </div>
                    <div class="icon" onclick="propToggle(0)">
                        <img src="/public/close.svg" alt="close">
                    </div>
                </div>
                <div class="propsi">
                    <div class="col1">
                        <span class="smld">Release Date</span>
                        <span>07 Jun 2024</span>
                    </div>
                </div>
                <div class="propsb">
                    <button class="btnb">Edit</button>
                </div>
            </div>

        </div>

        <div id="rls" class="rlsbrd hd">

            <div class="lstolst">
                <div class="lstview">
                    <span>On timeline</span>
                    <div class="items">
                        {{ range $k, $v := .Pending }}
                        <div class="itemtl" onclick="timelineSelect('{{ $v.Id }}', true)" 
                        data-id="{{ $v.Id }}" 
                        data-title="{{ $v.Title }}" 
                        data-category="{{ $v.Category }}" 
                        data-date="{{ $v.HumanDate }}">
                            <div class="row2">
                                <span class="dy">{{ $v.Day }}</span>
                                <div class="col2">
                                    <span>{{ $v.Month }}</span>
                                    <span>{{ $v.Date.Year }}</span>
                                </div>
                            </div>
                            <span class="tlwrd1">{{ $v.Title }}</span>
                            <span class="ctword1">{{ $v.Category }}</span>
                            <div class="spr20"></div>
                        </div>
                        {{ end }}
                    </div>
                </div>

                <div class="lstview">
                    <span>Releases</span>
                    <div class="items">
                        {{ range $k, $v := .Releases }}
                        <div class="itemtl" >
                            <div class="row2">
                                <span class="dy">{{ $v.Day }}</span>
                                <div class="col2">
                                    <span>{{ $v.Month }}</span>
                                    <span>{{ $v.Date.Year }}</span>
                                </div>
                            </div>
                            <span class="tlwrd1">{{ $v.Title }}</span>
                            <span class="ctword1">{{ $v.Category }}</span>
                            <div class="spr20"></div>
                            <a href="/release?id={{ $v.Id }}" class="navlnk">Release Notes</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>

            <div class="props hd" id="props1">
                <div class="hdr">
                    <div>
                        <span class="tlwrd">Title</span>
                        <span class="ctgwht">Category</span>
                    </div>
                    <div class="icon" onclick="propToggle(1)">
                        <img src="/public/close.svg" alt="close">
                    </div>
                </div>
                <div class="propsi">
                    <div class="col1">
                        <span class="smld">Planned Release Date</span>
                        <span>07 Jun 2024</span>
                    </div>
                </div>
                <div class="propsbc">
                    <button class="btnb">Publish</button>
                </div>
            </div>
        </div>

        <div id="stt" class="sttbrd hd"></div>
    </div>

    <script src="/public/admin.js"></script>
</body>
</html>